			<%= form_for(@recipe) do |r| %>
        <div class="field">
          <%= r.text_field :author_id, value: current_user.id, class: "hidden" %>
          <%= r.label :title, class: "subtitle is-3" %>
          <div class="control">
            <%= r.text_field :title, class: "input is-large", placeholder: "Recipe Name", autofocus: true %>
          </div>
        </div>
        <div class="field">
          <%= r.label :photo, "Photo Url", class: "subtitle is-3" %>
          <div class="control">
            <%= r.text_field :photo, class: "input is-large", placeholder: "Url" %>
          </div>
        </div>
        <div class="field">
          <%= r.label :description, class: "subtitle is-3" %>
          <div class="control">
            <%= r.text_area :description, class: "textarea is-large", placeholder: "Tender juicy morsels of goodness....." %>
          </div>
        </div>
        <%= r.label :ingredients, "Ingredients", class: "subtitle is-3" %>
        <%= r.fields_for :measurements do |m| %>
          <div class="columns">
            <div class="column">
              <div class="field">
                <%= m.label :quantity, "Quantity", class: "hidden subtitle is-4" %><br>
                  <p class="control is-fullwidth">
                    <%= m.text_field :quantity, class: "input is-large", placeholder: "Quantity" %>
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <%= m.label :unit, "Unit", class: "hidden subtitle is-4" %><br>
                  <p class="control is-fullwidth">
                    <%= m.text_field :unit, class: "input is-large", placeholder: "Unit of Measurement" %>
                  </p>
                </div>
              </div>
              <div class="column">
                <%= m.fields_for :ingredient do |i|%>
                  <div class="field">
                    <%= i.label :name, "Ingredient", class: "hidden subtitle is-4" %><br>
                    <p class="control is-fullwidth">
                      <%= i.text_field :name, class: "input is-large", placeholder: "Ingredient Name" %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <%= r.label :ingredients, "Directions", class: "subtitle is-3" %><br><br>
        <%= r.fields_for :steps do |s| %>
          <div class="columns level">
            <div class="column level-left is-2">
              <div class="field">
                <%= s.label :position, "Step Number", class: "subtitle is-5 level-item" %>
              </div>
            </div>
            <div class="column level-right is-1">
              <div class="field">
                <div class="is-one-third">
                  <%= s.text_field :position, class: "input is-large", placeholder: "Step Number" %>
                </div>
              </div>
            </div>
            <div class="column level-right is-9">
            </div>
          </div>
          <div class="columns">
            <div class="column is-11 is-offset-1">
              <div class="field">
                <%= s.label :description, class: "subtitle is-3 hidden" %>
                <div class="control">
                  <%= s.text_area :description, class: "input is-large ", placeholder: "Description", autofocus: true %>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        <% end %>
        <div class="field">
        <br>
          <%= r.label :course_id, "Course", class: "subtitle is-3" %><br><br>
            <div class="select is-one-third">
              <%= r.collection_select(:course_id, Course.all, :id, :name, prompt:"Course") %>
            </div>
        </div>
        <div class="field"> 
           <br>
          <%= r.label :public, "Make Recipe Public?", class: "subtitle is-4" %>
          <div class="control radio">
            <%= r.label :public, "Yes", value: "true", class: "subtitle is-4" %>
            <%= r.radio_button :public, true, class: "subtitle is-4" %>
            <%= r.label :public, "No", value: "false", class: "subtitle is-4" %>
            <%= r.radio_button :public, false %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= r.submit class: "button is-warning is-large" %>
        <% end %>