<%= render partial: "/shared/error_full_messages", locals: {obj: @recipe} %>
<%= form_for(@recipe) do |r| %>
  <div class="field">
    <%= r.text_field :author_id, value: current_user.id, class: "hidden" %>
    <%= r.label :title, class: "subtitle is-3" %>
    <div class="control">
      <%= r.text_field :title, class: "input is-large", placeholder: "Recipe Name", autofocus: true %>
    </div>
  </div>
  <div class="field">
    <%= r.label :photo, "Photo Url", class: "subtitle is-3" %>
    <div class="control">
      <%= r.text_field :photo, class: "input is-large", placeholder: "Url" %>
    </div>
  </div>
  <div class="field">
    <%= r.label :description, class: "subtitle is-3" %>
    <div class="control">
      <%= r.text_area :description, class: "textarea is-large", placeholder: "Tender juicy morsels of goodness....." %>
    </div>
  </div>
  <div>
    <%= r.label :measurements, "Ingredients", class: "subtitle is-3" %>
    <%= r.fields_for :measurements do |measurement| %>
      <%= render "measurement_fields", f: measurement %>
    <% end %>
    <div class="field">
      <div class="control">
      <br><br>
        <%= link_to_add_association "Add Ingredient", r, :measurements, class: "button is-default is-light", wrap_object: Proc.new { |measurement| measurement.build_ingredient; measurement } %>
        <%#= link_to_add_association 'Add Field', f, :perimeter_field, class: 'btn btn-success', wrap_object: Proc.new { |perimeter_build| perimeter_build.perimeter_field_value.build; perimeter_build }  %>

      </div>
    </div><br><br>
  </div>
  <div id="steps">
    <%= r.label :steps, "Directions", class: "subtitle is-3" %><br><br>
    <%= r.fields_for :steps do |step| %>
      <%= render "step_fields", f: step %>
    <% end %>
    <br>
    <div class="field">
      <div class="control">
        <%= link_to_add_association "Add Another Step", r, :steps, class: "button is-default is-light" %>
      </div>
    </div>
  </div>
<br><br>
  <%= r.label :categories, "Categories", class: "subtitle is-3" %><br><br>
  <div class="columns">
    <div class="column is-11 is-offset-1 is-full-width-mobile">
      <div class="field recipe-checkbox">
        <%= r.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= r.label :course_id, "Course", class: "subtitle is-3" %><br><br>
    <div class="columns">
      <div class="column is-11 is-offset-1">
        <div class="select is-large">
          <%= r.collection_select(:course_id, Course.all, :id, :name, prompt:"Course") %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= r.label :restrictions, "Dietary Restrictions", class: "subtitle is-3" %><br><br>
  <div class="columns">
    <div class="column is-11 is-offset-1">
      <div class="field recipe-checkbox">
        <%= r.collection_check_boxes(:restriction_ids, Restriction.all, :id, :name) %>
      </div>
    </div>
  </div>
  <div id="tags">
    <%= r.label :tags, "Tags", class: "subtitle is-3" %><br><br>
    <div class="columns">
      <div class="column is-11 is-offset-1">
        <div class="columns recipe-tag-wrapper">
          <%= r.fields_for :tags do |tag| %>
            <%= render "tag_fields", f: tag %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= link_to_add_association "Add Another Tag", r, :tags, class: "button is-default is-light", data: { association_insertion_node: ".recipe-tag-wrapper", association_insertion_method: :append } %>
        <!-- data hash is just for css: https://www.youtube.com/watch?v=56xjUOAAZY8 -->
      </div>
    </div>
    <br><br>
  </div>
  <div class="field"> 
      <br>
    <%= r.label :public, "Make Recipe Public?", class: "subtitle is-4" %>
    <div class="control radio">
      <%= r.label :public, "Yes", value: "true", class: "subtitle is-4" %>
      <%= r.radio_button :public, true, class: "subtitle is-4" %>
      <%= r.label :public, "No", value: "false", class: "subtitle is-4" %>
      <%= r.radio_button :public, false %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-narrow">
      <div class="field">
        <div class="control">
          <%= r.submit class: "button is-warning is-large" %>
        </div>
      </div>
    </div>
    <div class="column">
      <%= content_for(:edit)%>
    </div>
  </div>
<% end %> 