<div class="show-wrapper">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification top-element odd-box heading">
            <h1 class="title is-2"><%= @recipe.title %></h1>
            <p><%= link_to "#{author_name(@recipe)}", user_path(@author) %></p>
            <p><%= created_on(@recipe) %></p>
          </article>
          <article class="tile is-child notification even-box">
            <p class="subtitle is-4">
              <% @recipe.star_rating.floor.times do %>
                <span class="icon has-text-star"><i class="fas fa-star"></i></span>
              <%end %>
            </p>
            <p class="title is-5"><%= star_rating_text(@recipe) %></p>
            <p><%= @recipe.description %></p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <figure class="image is-4by3">
              <%= image_tag "recipes/#{recipe_image(@recipe)}" %>
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification odd-box heading">
          <p class="title">Ingredients</p>
          <p class="subtitle"></p>
          <div class="content">
            <ul>
              <% @recipe.measurements.each do |m| %>
                <li><%= m.ammount %> <%= m.unit %> <%= m.ingredient %></li>
              <% end %>
            </ul>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification even-box top-element">
        <div class="content">
          <p class="title">Do All Of The Things</p>
          <% @steps.each do |s| %>
            <p class="subtitle">Step <%= s.position %>:</p>
            <div class="content">
              <p><%= s.description %></p>
            </div>
          <% end %>
        </div>
          <%= author_edit_button(@recipe) %>
      </article>
    </div>   
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification">
          <div class="content">
            <a  href=""class="tag is-danger is-large">Thai</a>
            <a href="" class="tag is-danger is-large">Vietnamese</a>
            <a href="" class="tag is-warning is-medium">Gluten Free</a>
            <a href="" class="tag is-warning is-medium">Keto</a>
            <a href="" class="tag is-warning is-medium">Bulletproof</a>
              <a href="" class="tag is-success is-medium">Breakfast</a>
              <a href="" class="tag is-success is-medium">Dessert</a>
            <div class="tags">
              <a href="" class="tag">#whatever</a>
              <a href="" class="tag">#paleo</a>
              <a href="" class="tag">#delicios</a>
              <a href="" class="tag">#zomg</a>
              <a href="" class="tag">#hashtag</a>
              <a href="" class="tag">#whatever</a>
              <a href="" class="tag">#paleo</a>
              <a href="" class="tag">#delicios</a>
              <a href="" class="tag">#zomg</a>
              <a href="" class="tag">#hashtag</a>
              <a href="" class="tag">#whatever</a>
              <a href="" class="tag">#delicios</a>
              <a href="" class="tag">#zomg</a>
              <a href="" class="tag">#hashtag</a>
            </div>
          </div>
        </article>
      </div>
  </div>
</div>

<!-- Catagories as links -->