<%= form_for(@user) do |f| %>
  <div class="field required">
    <div class="control">
      <%= f.label :name, class: 'hidden' %>
      <%= f.text_field :name, class: "input is-large", placeholder: 'User Name', autofocus: true %>
    </div>
  </div>
  <div class="field required">
    <div class="control">
      <%= f.label :email, class: 'hidden' %>
      <%= f.email_field(:user, :email, class: "input is-large", placeholder: "Email") %>
    </div>
  </div>
  <div class="field required">
    <div class="control">
      <%= f.label :password, class: 'hidden' %>
      <%= f.password_field(:user, :password, class: "input is-large", placeholder: "New Password") %>
    </div>
  </div>
  <div class="field required">
    <div class="control">
      <%= f.label :password_confirmation, class: 'hidden' %>
      <%= f.password_field(:user, :password_confirmation, class: "input is-large", placeholder: "Password Confirmation") %>
    </div>
  </div>
    <%= f.label :submit, button_language(@user), class: 'hidden' %>
    <%= f.submit "#{button_language(@user)}", class: "button is-block is-info is-large is-fullwidth" %>
    <% if @user.persisted? %>
      <br>
      <%= link_to "Delete Account", @user,
                  method: "delete",
                  data: {confirm: "Are you sure?"}, 
                  class: "button is-block is-danger is-large is-fullwidth" %>
    <% end %>
<% end %>

