<div class="container">
	<div class="columns">
	  <div class="column is-three-fourths-tablet main-container">
      <article class="media level">
          <figure class="media-left">
            <figure class="image is-128x128">
              <%= image_tag user_image(@user), class: "is-rounded" %>
            </figure>
          </figure>
          <div class="media-content user-heading">
            <div class="content">
              <p>
                <strong><%= @user.name %></strong> <small><%= user_location(@user) %></small>
              </p>
              <p>
                <%= user_bio(@user) %>
              </p>
            </div>
          </div>
          <div class="content user-heading">
            <%= link_to "Add Recipe", new_user_recipe_url(@user), class: "button is-info" %>
          </div>
        </article>
        <div class="tabs is-centered is-large">
          <ul>
            <li><a href="#saved">Saved Recipes</a></li>
            <li class="is-active"><a href="#authored">Authored Recipes</a></li>
          </ul>
        </div>
        <div id="authored">
          <%= render '/shared/recipe_card' %>
        </div>
        <div id="saved">
          <p>askdhaoihdo ho;v haodhvoiadvoao;vbo asdvoiash voaodv oabdvibaso;v dasd</p>
        </div>
    </div>
	</div>
</div>




