  <div class="columns recipe-wrapper">
    <% collection.each do |recipe| %>
      <div class="column">
        <div class="card">
          <a href="<%= recipe_path(recipe) %>" alt="<%= recipe.title %>" class="card_wrapper">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag "recipes/#{recipe_image(recipe)}" %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= recipe.title %></p>
                  <p class="subtitle is-6"><%= link_to "#{author_name(recipe)}", user_recipes_path(author(recipe)) %></p>
                </div>
              </div>
              <div class="content">
                <%= short_description(recipe) %>
                <br>
                <br>
                <time datetime="<%= datetime_machine(recipe) %>"><%= created_on(recipe) %></time>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
