<div class="container">
  <div class="columns">
	  <div class="column main-container">
      <h1 class="title is-1"><%= title %></h1>
      <%= form_for(@card, url: path) do |f| %>
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="field">
              <%= f.label :notes, class: "subtitle is-3 hidden" %>
              <div class="control">
                <%= f.text_area :notes, class: "input is-large textarea", placeholder: "Your Recipe Notes", required: true, autofocus: true %>
              </div>
            </div>
            <%= f.label :rating, "Star Rating:", class: "hidden" %>
            <br><br>
            <div class="field">
              <div class="control">
                <div class="select is-info is-large">
                  <%= f.select :rating, ["Star Rating","5", "4", "3", "2", "1"] %>
                </div>
              </div>
            </div>
            <% unless @author %>
              <div class="field"> 
                <br>
                <%= f.label :saved, "Save to My Recipes?", class: "subtitle is-4" %>
                <div class="control radio">
                  <%= f.label :saved, "Yes", value: "true", class: "subtitle is-4" %>
                  <%= f.radio_button :saved, true, class: "subtitle is-4" %>
                  <%= f.label :saved, "No", value: "false", class: "subtitle is-4" %>
                  <%= f.radio_button :saved, false %>
                </div>
              </div>
            <% end %>
            <div class="columns">
              <div class="column is-narrow">
                <div class="field">
                  <div class="control">
                    <%= f.submit "Save Notes", class: "button is-warning is-large" %>
                  </div>
                </div>
              </div>
              <% if delete %>
                <div class="column">
                  <div class="field">
                    <div class="control">
                      <%= link_to "Delete", user_recipe_card_path(@user_id, @recipe_id, @card),
                      method: "delete",
                      data: {confirm: "Are you want to delete this Recipe?"}, 
                      class: "button is-danger is-large" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <br><br>
      <% end %>
    </div>
  </div>
</div>