<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GlowingSporkRecipes</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="block">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item logo" href="<%= root_url %>">
               <%= image_tag "recipes/spork.png" %>
               <h1 class="title is-3"> &nbsp; Glowing Spork Recipes </h1>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navMenu" class="navbar-menu">
              <div class="navbar-start">
                <%= link_to "My Recipes", auth_user(current_user), class:"navbar-item" %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-arrowless">Ratings</a>
                  <div class="navbar-dropdown">
                    <a href="/recipies/5-star" class="navbar-item">5 Star</a>
                    <a href="/recipies/4-star" class="navbar-item">4 Star</a>
                    <a href="/recipies/3-star" class="navbar-item">3 Star</a>
                    <a href="/recipies/2-star" class="navbar-item">2 Star</a>
                    <a href="/recipies/1-star" class="navbar-item">1 Star</a>
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link is-arrowless">Catagories</a>
                  <div class="navbar-dropdown">
                    <% @categories.each do |c| %>
                      <a href="/recipies/<%= c.name.downcase %>" class="navbar-item"><%= c.name %></a>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <%= form_tag("/recipes", method: "get") do %>
                    <%= label_tag(:query, "Search", class: "hidden") %>
                    <div class="field has-addons">
                      <div class="control">
                        <%= text_field_tag(:query, nil, class: "input ")%>
                      </div>
                      <div class="control">
                        <%= submit_tag('Search', class: "button is-light")%>
                      </div>
                    <% end %>
                    </div>
                </div>
                <% if current_user %>
                  <div class="navbar-item">
                    <%= link_to "Settings", edit_user_path(current_user), class: "button is-light" %>
                  </div>
                  <div class="navbar-item">
                    <%= link_to "Log Out", session_path, method: :delete, class: "button is-light" %>
                  </div>
                <% else %>
                  <div class="navbar-item">
                    <%= link_to "Sign Up", new_user_path, class: "button is-light" %>
                  </div>
                  <div class="navbar-item">
                    <%= link_to "Log In", new_session_path, class: "button is-light" %>
                  </div>
                <% end %>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section class="main">
      <%= render "/shared/flash_header" if !flash.empty? %>
      <%= yield %>
    </section>
    <footer></footer>
  </body>
</html>

